@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(100 185 239);
}
.title{
    /* background: rgb(214, 214, 93); */
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}
.every_input{
    /* background-color: rgb(214, 214, 93); */
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}
ul{
    display: flex;
}
ul li{
    text-align: center;
    padding: 2% 20%;
}
.Submit{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    cursor: pointer;
    height: 30px;
}